services:
  nginx:
    image: nginx:latest
    container_name: nginx
    network_mode: host
    volumes:
      # - ./nginx.conf.http:/etc/nginx/nginx.conf
      - ./nginx.conf.template:/etc/nginx/nginx.conf
      - ./entrypoint.sh:/entrypoint.sh
      - ./webroot:/var/www/certbot
      - ./certbot:/etc/letsencrypt
    environment:
      - DOMAIN=example.svastikkk.com
      - EMAIL=manshu@voicing.ai
    entrypoint: ["/entrypoint.sh"]

  certbot:
    image: certbot/certbot
    container_name: certbot_runner
    network_mode: host
    environment:
      - DOMAIN=example.svastikkk.com
      - EMAIL=manshu@voicing.ai
    volumes:
      - ./certbot:/etc/letsencrypt:rw
      - ./webroot:/var/www/certbot:rw
      - ./certbot.sh:/certbot.sh:rw
    entrypoint: ["/bin/sh", "/certbot.sh"]
